<?xml version="1.0"?>
<robot name="big_cube">

  <link name="base_link">

    <contact>
        <lateral_friction value="4.0"/>
    </contact>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.3"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.3"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.6"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
    </inertial>

  </link>

</robot>